{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | über mich{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="{{ asset('build/images/aktuelles_profilbild.png') }}" style="width: 30%; float: left; margin-right: 15px; margin-bottom: 15px;" />
            <p>
                Mein Name ist Andreas, ich bin mittlerweile {{ age }} Jahre alt und in der Nähe unseres wunderschönen Dresdens in Sachsen geboren.
            </p>
            <p>
                Mein Vater war ein sehr technickaffiner Mensch, er lötete viele eigene Dinge, entwarf Leiterplatten und baute zu DDR-Zeiten auch selbst Computer zusammen, einen Z 9001.
                Nach der Wende hatten wir einen KC 85/1 und danach einen KC 85/3. Mich faszinierte schon mit jungen Jahren der Gedanken, diesen elektronischen Bauteilen durch
                eigene Programme Aktionen zu entlocken.
            </p>
            <p>
                Mit 10 Jahren las ich ein Buch von Gerd Prokop, "Wer stiehlt schon Unterschenkel", in diesem Buch sprach ein Detektiv jeden Tag nach seinen Recherchen mit seinem Computer zu Hause
                und besprach mit seinem Computer die Rechercheergebnisse und der Computer suchte zu den einzelnen Plätzen und Personen dann nähere Informationen heraus und diskutierte
                mit dem Detektiven die Plausibilitäten und Theorien. Ich fand es unheimlich spannend mit einem Elektronengehirn gemeinsam Theorien zu diskutieren.
            </p>
            <p>
                Ich bekam mit 12 einen Atari 800XL geschenkt und begann dann darauf meine ersten Gehversuche mit Omikron, einem Betriebssystem auf dem Atari,
                meine ersten Programme zu schreiben. So ziemlich das erste größere Programm war ein Textadventure mit simplen Grafiken und aufgesprochenen Textpassagen auf Datasette.
                Das ganze war natürlich sehr anstrengend zu spielen, weil der Stand des Kasettenbandes sehr wichtig war und man während dieses Spieles nichts anderes mit der Datasette machen konnte,
                da sonst der Stand der Kommentare bzw. gesprochenen Textpassagen durcheinander kam.
            </p>
            <p>
                1989, mit der Wende, zog auch der Informatik Unterricht in unseren Schulen Einzug, keiner der Lehrer hatte mit dem Thema Erfahrungen, da ich aber
                durch mein Hobby schon viel programmiert hatte, half ich mit meinem Wissen schon damals im Informatik Unterricht gern und oft aus.
            </p>
            <p>
                Während meiner Lehre zum Dachklempner und Gas-Wasser Installateur kaufte ich mir dann einen Atari 1024 STFM. Damit hielt auch ein Diskettenlaufwerk in meinem Bestand Einzug. Nun verschwanden endlich
                viele Probleme aus meinem Programmieralltag, vor allem dieses Hin- und Herspulen und vor allem auch die sehr niedrige Kapazität auf den Kasetten und die Anfälligkeit der Daten. Im Paket dabei war damals auch
                eine Festplatte mit 35MB. Ich hatte damals ALLE meine Disketten auf die Festplatte kopiert und für mich war unvorstellbar, wie man so extrem viel Speicher jemals voll bekommen würde.
            </p>
            <p>
                2007 bekam ich Arbeit bei der Windbergarena in Freital, diese war ein Tochterunternehmen der damaligen GABS Freital. Ich kümmerte mich in der Windbergarena
                gemeinsam mit einem Kollegen um den Webauftritt, die Modernisierung der Seite und das Einpflegen neuer Inhalte. Nach ca. einem Jahr suchte die GABS nach einem Administrator
                und sie kamen dabei auf mich zu. Nach 3 Jahren bei der GABS bekam ich vom Arbeitsamt einen Hinweis, dass die VAVG in Kesselsdorf einen Programmierer sucht und der Chef
                da auch mit einem Quereinsteiger einverstanden wäre. Ich hatte mich direkt da beworben und einen Tag später hatte ich schon das Bewerbungsgesprächt und wenige Tage später meinen ersten Tag da.
                Damit begann meine Karriere als Programmierer.
            </p>
            <p>
                2013 bewarb ich mich dann bei Unister, einer damals sehr begehrten und bekannten Programmierfirma in Deutschland. Dort bekam ich 30 Minuten nach meinem Vorstellungesgespräch
                schon den Anruf, dass ich eingestellt werde. In dieser Firma habe ich viele gute Programmierer kennen gelernt, und gemeinsam haben wir uns ein gutes Stück weiter gebracht.
            </p>
            <p>
                Mit Teilen dieses Teams, sowie weiteren qualitativ hochwertigen Kollegen arbeite ich noch heute.
            </p>
            <p>
                Da wir aber leider in einer Zeit leben, in der man seine persönliche Meinung nicht frei äußern kann und es sogar Menschen gibt, die wegen einem kritischen Beitrag
                über den 11.09.2001 versuchen einem die Arbeit kaputt zu machen und einem selbst dahin nachtelefonieren, musste ich Details zu meinem aktuellen Arbeitgeber entfernen.
                Ich habe dabei weniger Angst um meine Arbeit, als das ich eher nicht möchte, dass man ständig die Personalabteilung meiner Firma belästigt. Diese Menschen können es sich
                scheinbar nicht vorstellen, aber ich arbeite nicht in meinem Beruf, weil ich so eine extrem flexible Meinung habe, sondern weil man meine Fähigkeiten, meinen Anspruch und 
                meine Qualität sehr schätzt.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>
                Für mich ist Ehrlichkeit eine sehr wichtige Tugend. Mich zeichnen vor allem mein logisches und analytisches Denken aus. Welches allerdings auch meine
                größte Schwäche ist, ich kann mit Lösungen nur sehr schwer etwas anfangen, die für mich nicht logisch sind. Kann man mir etwas nicht mit Argumenten logisch
                erklären, kann ich nichts damit anfangen. Mir fällt es in der Regel sehr leicht Zusammenhänge zu verstehen und ich finde auch sehr schnell Lösungen für Herausforderungen.
                Ein funktionierendes Team ist für mich ebenfalls ein wichtiger Bestandteil, da man sich selbst nur optimal entwickeln kann, wenn man auch durch andere auch inspiriert wird.
                Ich beschäftige mich zwar selbst auch privat überaus häufig mit den neuesten Techniken, aber oft bekomme ich auch durch Kollegen und Freunde sehr interessante und wichtige Sichtweisen.
            </p>
            <p>
                Mir ist Qualität sehr wichtig, eine klare und saubere, sowie übersichtliche Struktur. Code muss testbar und auch wartbar sein. Im besten Fall auch wiederverwendbar, aber nicht um jeden Preis.
            </p>
            <p>
            </p>
        </div>
    </div>
</div>
{% endblock %}
