<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" force="true"/>
        <env name="KERNEL_CLASS" value="App\Kernel" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_SECRET" value="24829f711224a1554cc268d05472cdc7"/>
        <!-- ###- symfony/framework-bundle ### -->

        <!-- ###+ doctrine/doctrine-bundle ### -->
        <env name="DATABASE_URL" value="mysql://root:root@byte_artist_mysql:3306/byte_artist_test"/>
        <!-- ###- doctrine/doctrine-bundle ### -->

        <!-- ###+ symfony/swiftmailer-bundle ### -->
        <env name="MAILER_URL" value="null://localhost"/>
        <!-- ###- symfony/swiftmailer-bundle ### -->
    </php>

    <testsuites>
        <testsuite name="Byte Artist Homepage Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="build/reports/coverage" lowUpperBound="35" highLowerBound="70"/>
            <clover outputFile="build/reports/coverage-clover.xml"/>
            <php outputFile="build/reports/coverage.serialized"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="build/reports/junit.xml"/>
    </logging>
</phpunit>
