{% set currentPage = app.request.query.get('p') ?: 1 %}
{% set currentRoute = app.request.attributes.get('_route') %}
{% set currentParams = app.request.query.all %}

{% if app.request.attributes.get('tagSeoLink') %}
    {% set currentParams = currentParams|merge({'tagSeoLink': app.request.attributes.get('tagSeoLink')}) %}
{% endif %}

{% if lastPage > 1 %}
<nav class="pagination-nav" aria-label="Seitennavigation">
    {% if currentPage > 1 %}
    <div class="page-item">
        <a class="page-link" href="{{ path(currentRoute, currentParams|merge({p: currentPage - 1})) }}" aria-label="Zurück">&laquo;</a>
    </div>
    {% else %}
    <div class="page-item disabled">
        <span class="page-link">&laquo;</span>
    </div>
    {% endif %}

    {% for i in 1..lastPage %}
    <div class="page-item {% if i == currentPage %}active{% endif %}">
        <a class="page-link" href="{{ path(currentRoute, currentParams|merge({p: i})) }}">{{ i }}</a>
    </div>
    {% endfor %}

    {% if currentPage < lastPage %}
    <div class="page-item">
        <a class="page-link" href="{{ path(currentRoute, currentParams|merge({p: currentPage + 1})) }}" aria-label="Weiter">&raquo;</a>
    </div>
    {% else %}
    <div class="page-item disabled">
        <span class="page-link">&raquo;</span>
    </div>
    {% endif %}
</nav>
{% endif %}
